#compteur {
    position : absolute;
    top : 50%;
    left : 50%;
    margin-left : -480px;
    margin-top : -10vh;
    width : 960px;
    height : 20vh;
    line-height : 20vh;
    text-align : center;
    font-size : 200px;
    color : white;
    text-shadow: 0 0 25px #444;
}

#compteur.alert {
    animation: blinkRed 0.5s linear infinite;
}
#compteur.finished {
    animation: none;
}

@keyframes blinkRed {
    0% { color : white; }
    49% { color : white; }
    50% { color : red; }
    99% { color : red; }
}