#content {
    width: 100%;
    background-color: black;
}

h1, h2, h3 {
    text-shadow: 1px 1px 0 black, 2px 2px 0 black;
}

.tab {
    display: none;
}

#content > nav {
    position: fixed;
    z-index: 100;
    display: inline-block;
    width: 100%;
    height: 50px;
}

#content > nav li {
    height: 50px;
    line-height: 50px;
}

main {
    width: 100%;
    padding: 50px 50px 0 50px;
}

input {
    color: white;
    background: transparent;
    border: none;
}

input:not([disabled]), textarea:not([disabled]) {
    color: yellow;
}


.actionButton {
    -moz-box-shadow: inset 0px 1px 3px 0px #91b8b3;
    -webkit-box-shadow: inset 0px 1px 3px 0px #91b8b3;
    box-shadow: inset 0px 1px 3px 0px #91b8b3;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
    background: -moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background: -webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background: -o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background: -ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c', GradientType=0);
    background-color: #768d87;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #566963;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 7px 16px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #2b665e;
}

.actionButton:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
    background: -moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background: -webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background: -o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background: -ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87', GradientType=0);
    background-color: #6c7c7c;
}

.actionButton:active {
    position: relative;
    top: 1px;
}

.deleteButton {
    -moz-box-shadow: inset 0px 39px 0px -24px #e67a73;
    -webkit-box-shadow: inset 0px 39px 0px -24px #e67a73;
    box-shadow: inset 0px 39px 0px -24px #e67a73;
    background-color: #e4685d;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 7px 16px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #2b665e;
}

.deleteButton:hover {
    background-color: #eb675e;
}

.deleteButton:active {
    position: relative;
    top: 1px;
}


.miniButton {
    font-size: 12px;
    font-weight: bold;
    padding: 4px 8px;
    text-decoration: none;
    text-shadow: 0 -1px 0 #2b665e;
    height: 26px;
    vertical-align: middle;
}

.icon_button:hover,
.full_button:hover {
    filter: brightness(120%) drop-shadow(2px 2px 0 black);
}
