#content > nav {
    padding-left : 75px;
}

#content > nav button {
    display : inline-block;
    border : none;

    height: 35px;
    width: 125px;
    line-height: 29px;
    text-align: center;
    background: none;
    color: white;
    font-size: 20px;
    font-weight: bold;

    margin : 10px 0;
    cursor : pointer;
}

#content > nav button.selected {
    border-bottom : 3px solid white;
}