#ai section {
    margin : 5vh 20px;
    padding: 20px;
}

#ai h1 {
    font-size : 24px;
}

#ai .input-field {
    display : inline-block;
}

#ai input {
    width: 600px;
    height : 25px;
}

#ai select {
    height : 33px;
    font-size : 14px;
}

#ai li {
    margin: 4px 0;
}

#ai > button {
    margin-top : 15px;
}

#ai .delete {
    vertical-align: middle;
    cursor : pointer;
    color: #ff6262;
    font-size: 30px;
    text-shadow: 2px 2px 0 #000;
}

.progress_bar_timer {
    display: inline-block;
    width: 60px;
}