#params section {
    margin : 5vh 20px;
    padding: 20px;
}

#params section h1 {
    font-size : 24px;
    margin-bottom : 10px;
}

#params table tr {
    border-bottom: 1px solid rgba(255,255,255,0.12);
}

#params table td, #params table th {
    padding: 5px 15px;
}

#params input {
    width : 450px;
    height : 30px;
}

span.icon {
    display : inline-block;
    height : 20px;
    width : 20px;
    vertical-align: middle;
}
span.icon.ok {
    background: url("../../resources/images/tick.png") no-repeat top left transparent;
    background-size: contain;
}
span.icon.ko {
    background: url("../../resources/images/cross.png") no-repeat top left transparent;
    background-size: contain;
}

#local_params span.icon {
    margin-left : 10px;
}