#params section {
    margin : 5vh 20px;
    padding: 20px;
}

#params section h1 {
    font-size : 24px;
    margin-bottom : 10px;
}

#params table tr {
    border-bottom: 1px solid rgba(255,255,255,0.12);
}

#params table td, #params table th {
    padding: 5px 15px;
}

#params input {
    width : 450px;
    height : 30px;
}

#params .icon {
    vertical-align: middle;
    font-size : 20px;
    font-weight : bold;
}
#params .icon.ok { color : #5eff5e; }
#params .icon.ko { color : #ff6262; }

#local_params span.icon {
    margin-left : 10px;
}